<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/styles/style.css" type="text/css" />
        <title>Rosszfogás - <%= title %></title>

        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    </head>
    <body>
        <%- include('navbar', {title}) %>

        <script type="text/javascript">
            const urlParams = new URLSearchParams(window.location.search);
            const msg = urlParams.get('msg');
            const msgType = urlParams.get('msgType');
            if (msg) {
                toast(msg, msgType);
            }

            function toast(msg, msgType) {
                if (Swal && typeof Swal === 'function') {
                    Swal.fire({
                        title: msg,
                        icon: msgType || '',
                        toast: true,
                        position: 'top-end',
                        showConfirmButton: false,
                        timer: 1500,
                        timerProgressBar: true,
                        didOpen: (toast) => {
                            toast.addEventListener('mouseenter', Swal.stopTimer);
                            toast.addEventListener('mouseleave', Swal.resumeTimer);
                        },
                    });
                }
            }
        </script>
